{
  "credentials" : {
    "owner" : {
      "username" : "rpfh1",
      "password" : "123456Aa*"
    },
    "member" : {
      "username" : "",
      "password" : ""
    }
  },
  "browser" : "chrome"
}